<div class=container>
  <h1 class= "calorie-title">食べ物を検索する</h1>
  <p>検索</p>
  <%= form_tag(search_calculation_index_path, :method => 'post') do %>
    <%= text_field_tag :search %>
    <%= submit_tag 'Search', :name => nil %>
  <% end %>
  
  <p id="total_calorie">トータルカロリー : <%= @total_calorie %></p>
  <div class="foods">
    <table>
      <tr>
        <th>名前</th>
        <th>カロリー(kcal)</th>
      </tr>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td class="calorie"><%= food.calorie %></td>
          <td class="select"><input type="checkbox"></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
